<#assign ctx=(rc.getContextPath())!''>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Cache-Control" content="no-store"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<link rel="shortcut icon" href="${ctx}/resources/ico/favicon.png">
<title>HomeController</title>
<!-- Styles --> 
<link type="text/css" href="${ctx}/resources/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link type="text/css" href="${ctx}/resources/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
<link rel="stylesheet" href="${ctx}/resources/fontawesome/css/font-awesome.css"rel="stylesheet" />