<!-- Modal -->
<div id="AntelopeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="AntelopeModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="AntelopeModalLabel">Antelope Modal Title</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <!-- <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div> -->
</div>